@import "tailwindcss";

@utility flex-center{
    @apply flex justify-center items-center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

